ESP32_PORT=/dev/ttyACM0
WIFI_SSID=your-wifi-name
WIFI_PASSWORD=your-wifi-password
WIFI_COUNTRY=DE
WIFI_PSK_MODE=plain

# Use "hashed" if you want a hashed PSK.
# Install wpasupplicant, then run: wpa_passphrase "SSID" "PASSWORD"

# Board config. Use default unless you know your target.
BOARD_CONFIG=devkit-c1-8m.conf

ESP32_HOSTNAME=esp32s3-linux

ENABLE_DROPBEAR=1
SSH_PUBLIC_KEY_FILE=~/.ssh/id_ed25519.pub

# BR2_PACKAGE_CURL=y
# Required when enabling BR2_PACKAGE_NCURSES=y for packages like screen.
# BR2_PACKAGE_NCURSES=y
# BR2_PACKAGE_NCURSES_WCHAR=y
# BR2_PACKAGE_NCURSES_TARGET_PROGS=n
# BR2_PACKAGE_NCURSES_ADDITIONAL_TERMINFO=""
# BR2_PACKAGE_SCREEN=y
